.number-button {
    padding-left: 0px;
    padding-right: 0px;
    width:25px;
}

#number-solve, #letter-solve {
    width:150px;
}

label { 
    float: left; 
    width: 10em; 
    margin-right: 1em; 
}

#numbers-output {
    height: 250px;
}
