

#board {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    outline: solid white 1px;
}

.square {
    position: relative;
    padding:0px;
    outline: solid white 1px;
    width: 33.33333333333333333333333333333333333%;
    
}

.square:before{
    content:"";
    display: block;
    padding-top: 100%;
}

.pink {
    background-color: pink;
}

.nought {
    background-image: url(./images/nought.png);
    outline: solid black 1px;
    background-size: contain;
}


.cross {
    background-image: url(./images/cross.png);
    outline: solid black 1px;
    background-size: contain;
}

.active {
    background: black;
    font-weight: bold;
    color: white;
}