body{
    background-color:beige
}

div {
    padding: 5px;
}

p {
    color: black;
    font-family: 'Merriweather', serif;
    /*border: 5px solid rgb(170, 40, 40)*/
    text-align: justify;
    padding: 5px;
    
}

h1,h2,h3 {
    font-size: 15px;
    font-family: 'Merriweather', serif;
    color: black;
    text-decoration: underline;
    
    
    
}

img {
	height: 500px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

footer {
    display: flex;
    font-size: 10px;
    border: 350px;
}

