

* {
    padding:0px;
    margin: 0px;
    /*background-color: white;*/
}

body {
    background: linear-gradient(#d4d4d4, #3a3a3a);

}

.container {
   /* outline: solid red 1px;*/
    background: white;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
    min-height: 1000px;
    
    
}
.row {
    position: relative;
    /*outline: solid green 1px;*/
    margin-top: 0px;
    margin-bottom: 45px;
    
}

.column,
  .columns {
      /*outline: solid blue 1px;*/
      
  }

  p {
      text-align: justify;
      /*outline: solid lime 1px;*/
  }

  img {
    /* outline: solid salmon 1px;*/
  }

  footer{
      /*display: flex;*/
     /*outline: solid magenta 1px;*/
  }

  .foot{
    /* outline: solid brown 1px;*/
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    text-align: center;
    
}

h1 {
    background-color: transparent;
    
}

.button {
    color: white;
    background-color: grey;
    width: 100%;
}

.illumination-inset {
    max-width: 110px;
    max-height: 110px;
    filter: grayscale(100%);
    padding-right: 185px;

}

.cultural {
    background:black;
    color: white;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);

}

.technical {
    background:white;
    box-sizing: border-box;
    
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
}

.Q {
    background: black;
    width: 100%;
    color: white;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
}