* {
    padding:2px;
    margin: 2px;
}


.container {
    outline: solid red 1px;
    
}
.row {
    position: relative;
    outline: solid green 1px;
    margin-top: 0px;
    margin-bottom: 45px;
}

.column,
  .columns {
      outline: solid blue 1px;
  }

  p {
      text-align: justify;
      outline: solid lime 1px;
  }

  img {
      outline: solid salmon 1px;
  }

  footer{
      display: flex;
      outline: solid magenta 1px;
  }

  .foot{
      outline: solid brown 1px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button {
    color: white;
    background-color: grey;
}
